<header id="header" class="">

  <div id="topbar">
    <div class="container">
      <div class="social-links">
        <a href="register" class="linkedin">Login<i style="padding-left: 5px;" class="fa fa-user"></i></a>
        <a href="#" class="linkedin"><i class="fa fa-heart"></i></a>
        
        <a href="#" class="facebook"><i class="fa fa-comments"></i></a>
        <a href="#" class="instagram"><i class="fa fa-shopping-bag"></i></a>
      </div>
    </div>
  </div>

  <div class="container">

    <div class="logo float-left">
      <!-- Uncomment below if you prefer to use an image logo -->
      <h1 class="text-light"><a href="#intro" class="scrollto"><span>Taste Of Apparel</span></a></h1>
      <!-- <a href="#header" class="scrollto"><img src="img/logo.png" alt="" class="img-fluid"></a> -->
    </div>

    <nav class="main-nav float-right d-none d-lg-block">
      <ul>
        <li class=""><a href="">Whats New</a></li>
        <li class=""><a href="#intro">Trends</a></li>
        <li class=""><a href="shop/women">Women</a></li>
        <li class=""><a href="#about">Men</a></li>
        <li class=""><a href="#intro">Inspire</a></li>
        <li><a href="#footer">Contact Us</a></li>
        <li><a href="#footer">About</a></li>
      </ul>
    </nav><!-- .main-nav -->
    
  </div>
</header>
<router-outlet></router-outlet>

